// Floating share buttons

.share-buttons li:hover {
cursor: pointer;
color: #333!important;
}
.share-buttons li .tn:hover {
color: #333!important;
}
.share-buttons li .tn-facebook {
color: #3b5998;
}
.share-buttons li .tn-twitter {
color: #00acee;
}
.share-buttons li .tn-pinterest-p {
color: #c92228;
}
.share-buttons li .tn-tumblr {
color: #34526f;
}
.share-buttons li .tn-google-plus {
color: #dd4b39;
}
.share-buttons li .tn-reddit-alien {
color: #FF5700;
}
.share-buttons {
    position: fixed;
        text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.72);
    color: #000;
    border: 1px solid #b0b0b0;
    padding: 10px;
    left: 10px;
    z-index: 99999;
}
	.share-buttons a {
		color: white;
	}
	@media screen and (max-width: 768px) {
		ul.share-buttons li {
			    display: inline-block;
    padding: 0px!important;
    width: 15%;
    margin: 0px!important;
		}
		ul.share-buttons {
			text-align: center;
			bottom: 0;
			top: initial;
			transform: initial;
			width: 100%;
			padding: 5px;
			margin: 0;
			    left: 0;
			    display: none;
		}
	}


// set-position share buttons
@media (max-width: 1200px) {
  .share-buttons-post-footer li {
    width: 49.65%;
    margin-bottom: 2px;
  }
}
@media (max-width: 970px) {
  .share-buttons-post-footer li {
    width: 100%;
    margin-bottom: 2px;
  }
}
.share-buttons-post-footer li a {
  padding: 5px 0;
  display: block;
}
.share-buttons-post-footer li a b,
.share-buttons-post-footer li a span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}
.share-buttons-post-footer li a span {
    font-size: 1em;
margin: 0 auto;
}
.share-buttons-post-footer li:hover {
  opacity: 1;
}
.share-buttons-post-footer li:hover a b,
.share-buttons-post-footer li:hover a span {
  color: #fff;
  color: white;
}
.share-buttons-post-footer li.fb {
  background: #3b5998;
}
.share-buttons-post-footer li.tw {
  background: #55ACEE;
}
.share-buttons-post-footer li.gp {
  background: #dd4b39;
}
.share-buttons-post-footer li#clipboard {
    cursor: pointer;
    background: #2130ae;
}
.share-buttons-post-footer .title {
    width: 100%;
    color: #ddd;
    background: #444;
}
.share-buttons-post-footer {
    margin: 0px!important;
    list-style-type: none!important;
        position: relative;
    width: 100%;
    float: left;
}
.share-buttons-post-footer li {
    width: 33.333%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    opacity: .8;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
    float: left;
}
